@import url('https://fonts.googleapis.com/css?family=Roboto:900');
.navbar {
    background-color: #184a93 !important;
}

.bg-primary {
    background-color: #184a93 !important;
}

.divisor_laranja {
    min-height: 1px;
    background-color: orange;
}

.footer {
    background-color: #184a93 !important;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 30px;
}

.card-header {
    padding-top: 1.45rem !important;
    margin-bottom: 0 !important;
    color: inherit !important;
    background-color: rgb(42, 116, 222) !important;
    border-bottom: 1px solid rgb(236, 124, 0) !important;
    color: white !important;
    text-align: center !important;
}

.card-title {
    font-family: 'Roboto', sans-serif;
}

.badge-orange {
    background-color: orange;
}

.agile {
    &__dots {
        bottom: 0;
        display: block;
        left: 10px;
        position: absolute;
        width: 30px;
    }
    &__dot {
        margin-bottom: 10px;
        button {
            background-color: transparent;
            border: 1px solid orange;
            margin-top: 10px;
            &:hover {
                background-color: orange;
            }
        }
        &--current {
            button {
                background-color: orange;
            }
        }
    }
}

.slide {
    background: {
        position: center;
        size: cover;
    }
    height: 350px;
}

.placa {
    width: 100px;
    margin-bottom: 8px;
}

.preco {
    font-size: 1.4em;
    top: -5px;
    display: block;
    position: relative;
    font-weight: bolder;
    color: orange;
    &--h1 {
        font-size: 40px;
    }
}

@media screen and (min-width:1400px) {
    .fullscreen {
        margin-top: 200px;
    }
}

@media screen and (max-width: 414px) {
    .mapa {
        border: 0px;
        width: 387px;
    }
}
